.button {
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.green {
  background: var(--buttonBackgroundGreen);
  color: white;
}

.gray {
  background: var(--buttonBackgroundGray);
  color: var(--white);
}

.red {
  background: var(--red);
  color: var(--black);
}

.button:hover {
  opacity: 60%;
}
