.modal {
  position: fixed;
  margin: auto;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: scale(1);
  zoom: 1;
  background: var(--dialogBackground);
  min-width: 50%;
  min-height: 50%;
  max-width: 90%;
  border: 0;
  border-radius: 10px;
}

.modal .modal__inner {
  padding: 20px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.modal .headerModal {
  padding: 5px;
  border-bottom: 1px solid var(--orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.closeModal {
  cursor: pointer;
}

.modal .bodyModal {
  padding: 5px;
}
