html {
  --background: #eae6df;
  --backgroundDeeper: #d1d7db;

  --inputBorder: rgb(128, 128, 128);

  --buttonBackgroundGreen: #00a884;
  --buttonBackgroundGray: #d1d7db;
  --buttonBackgroundRed: crimson;
  --chatHeaderBackground: rgb(220, 220, 220);

  --modalBackground: whitesmoke;
  --modalLineHeader: #00a884;

  --messagesBackground: #e9edef;
  --textOutcomingBackgroud: #d9fdd3;
  --textIncomingBackgroud: #fff;

  --green: rgb(0, 188, 152);
  --white: #fff;
  --black: black;
  --darkGray: rgb(108, 108, 108);
}

.baseDiv {
  margin: 5px;
  box-sizing: border-box;
  background-color: var(--white);
  padding: 5px;
  box-shadow: 2px 4px 12px rgb(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  background-image: linear-gradient(180deg, var(--background), var(--backgroundDeeper));
}

a {
  text-decoration: none;
}

img {
  border: 0;
  border-radius: 10px;
}

h1,
h2,
h3,
span,
p,
b,
input,
select,
option,
a {
  color: var(--black);
}

select,
option,
input {
  background-color: var(--white);
  color: var(--black);
}

iframe {
  pointer-events: none;
}

h1 {
  padding: 5px;
  font-size: xx-large;
  border-bottom: 2px solid var(--black);
  margin-top: 5px;
  margin-bottom: 25px;
}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid lightsteelblue;
  color: black;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: lightskyblue;
}

.navigationActive a {
  color: white;
  background-color: lightsteelblue;
}

.navigationDisabled a {
  color: lightsteelblue;
}
