html {
  --navigationPanel: rgba(42, 42, 43);
  --navigationPanelItemHover: rgba(22, 22, 23, 0.5);
  --navigationPanelSelected: #c15722;
  --navigationPanelText: rgba(235, 235, 235);
  --navigationPanelTextHover: #ffffff;

  --catalogMenu: rgba(52, 52, 53);
  --catalogMenuHover: rgba(62, 62, 63);
  --catalogMenuScroll: rgba(72, 72, 73);

  --tableBorder: rgb(230, 230, 230);
  --tableRow: rgb(110, 110, 110);
  --tableHover: rgb(203, 216, 230);
  --tableSelection: lightblue;

  --buttomBackgroudGreen: #6fd961;

  --modalBackground: rgb(235, 235, 235);
  --modalFlagBackground: lightblue;
  --modalFlagColor: rgb(0, 0, 0);
  --modalCloseButtom: #e52342;
  --modalSaveButtom: #55a44a;

  --hover: rgb(225, 225, 225);

  --contextmenu: whitesmoke;

  --dialogBackground: white;

  --lightblue: lightblue;
  --orange: #ef6522 !important;
  --gray: rgb(235, 234, 234) !important;
  --red: rgb(190, 30, 58);
  --green: rgb(85, 128, 0);
  --blue: #007aff;
  --darkgray: #6e6e73;
  --background: #e4e4e4;
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --boxshadow: rgba(0, 0, 0, 0.2) !important;
}

.baseDiv {
  margin: 5px;
  box-sizing: border-box;
  background-color: var(--white);
  padding: 5px;
  box-shadow: 2px 4px 12px rgb(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
}

main {
  background: var(--background);
  transition: 1s;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  border-radius: 10px;
}
h1,
h2,
h3,
span,
p,
b,
input,
select,
option,
a {
  color: var(--black);
}

select,
option,
input {
  background-color: var(--white);
  color: var(--black);
}

iframe {
  pointer-events: none;
}

.modal {
  position: fixed;
  margin: auto;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: scale(1);
  zoom: 1;
  background: var(--modal);
  min-width: 50%;
  min-height: 50%;
  max-width: 90%;
  border: 0;
  border-radius: 10px;
}

.modal .modal__inner {
  padding: 20px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.modal .headerModal {
  padding: 5px;
  border-bottom: 1px solid var(--orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.closeModal {
  cursor: pointer;
}

.modal .bodyModal {
  padding: 5px;
}

h1 {
  padding: 5px;
  font-size: xx-large;
  border-bottom: 2px solid var(--black);
  margin-top: 5px;
  margin-bottom: 25px;
}

.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid lightsteelblue;
  color: black;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: lightskyblue;
}

.navigationActive a {
  color: white;
  background-color: lightsteelblue;
}

.navigationDisabled a {
  color: lightsteelblue;
}
